{% extends 'base.html' %}

{% block head %}
<title>JSNO obrazovky - slideshow</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_slideshow_day.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}


{% block body %}
<h1>Editovani slideshow pro den {{ dayn }}</h1>
<i>Slidy budou zobrazeny v abecedním pořadí - doporučuju dodržovat pojmenovani 1_nazev.jpg, 2_nazev.jpg etc.</i>
<b>POZOR - nepouzivat stejne nazvy souboru vicekrat - pokud je na serveru napr. 1.jpg a ja nahraju jiny obrazek s nazvem 1.jpg, na obrazovkach muze nejakou dobu zustat ten stary</b>
<div class="slideshow-images">
    {% for file in files %}
    <div>
        <a href="{{ url_for('static', filename='slideshow/'+dayn|string+'/'+file) }}">{{ file }}</a>
        <img src="{{ url_for('static', filename='slideshow/'+dayn|string+'/'+file) }}">
        <a class="delete-photo" href="{{ url_for('delete_slide', filename=file, dayn=dayn) }}" onclick="return confirm('Opravdu chcete smazat soubor?')">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    {% endfor %}
</div>
<div>
    <h2>Upload nových slidů</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple/> 
        <input type="submit" value="Upload"> 
    </form>
</div>
{% endblock %}