<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/floor.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit="no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>JSNO obrazovka - Den {{ day }} Patro {{ floor }}</title>
</head>

<body>
    <div class="main">
        <div class="container-top">
            <div class="slideshow">
                {% for file in slideshow %}
                <img id="slide-{{ loop.index }}" src="{{ url_for('static', filename='slideshow/'+day|string+'/'+file) }}">
                {% endfor %}
            </div>
            <div class="col-right">
                <div class="copyright">&copy;JSNO 2024</div>
                <img class="logo-small" src="{{ url_for('static', filename='img/logo.svg') }}"><br>
                <div class="datetime-container">
                    <div class="date">16. prosince</div>
                    <div class="time">8:46:52</div>
                </div>
                <div class="program-text">celý program najdete na <a href="https://jsno.cz">jsno.cz</a></div>
            </div>
        </div>
        
    
        <div class="program">
            <table>
                <tr>
                    <th></th>
                    {% for room in rooms %}
                    <td class="room">{{ room }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Právě probíhá</th>
                    {% for room in rooms %}
                    <td class="current" id="current-{{ room }}">
                        <div>
                            <div> <!-- musi tu byt extra div, aby fungovalo zmensovani textu based na height text elementu (kdyby tu nebyl div navic, tak by .name melo vzdycky stejnou vysku nehlede na font-size) -->
                                <div class="name"></div>
                            </div>
                            <div class="time"></div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Následuje</th>
                    {% for room in rooms %}
                    <td class="next" id="next-{{ room }}">
                        <div>
                            <div>
                                <div class="name"></div>
                            </div>
                            <div class="time"></div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
    
    <script>
        let rooms = "{{ rooms }}".replace(/[\s\[\]&#39;]/g, '').split(",")
        let program = {{ program|safe }}
    </script>
    <script src="{{ url_for('static', filename='js/floor.js') }}"></script>
</body>
</html>