<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/floor.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit="no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>JSNO obrazovka - Den {{ day }} Patro {{ floor }}</title>
</head>

<body>
    <div class="main">
        <div class="content">
            <img class="logo-text-img" src="{{ url_for('static', filename='img/logo_text.png') }}">
        </div>
    
        <div class="program">
            <table>
                <tr>
                    <th></th>
                    {% for room in rooms %}
                    <td class="room">{{ room }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Právě probíhá</th>
                    {% for room in rooms %}
                    <td class="current" id="current-{{ room }}">
                        <div>
                            <div>
                                <div class="name"></div>
                            </div>
                            <div class="time"></div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Následuje</th>
                    {% for room in rooms %}
                    <td class="next" id="next-{{ room }}">
                        <div>
                            <div class="name"></div>
                            <div class="time"></div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
    
    <script>
        let rooms = "{{ rooms }}".replace(/[\s\[\]&#39;]/g, '').split(",")
        let program = {{ program|safe }}
    </script>
    <script src="{{ url_for('static', filename='js/floor.js') }}"></script>
</body>
</html>